/* Style for game app below */
@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');

* {
  font-family: 'Gafata', sans-serif;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  padding: 1rem;
}

button{
  margin: .2rem !important;
}

h1, h2, h3, h4, p {
  padding: 1rem;
}

h1 {
  color: white;
  font-weight: bolder;
}

.restart {
  position: absolute;
}

.container {
  display: block;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visible{
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: rgba(40, 44, 52, 0.95);
  border-radius: 1rem;
}

.hidden{
  display: none;
}

.score{
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.words {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  font-size: 4rem;
  padding: 1rem;
}

/* media queries below */

@media screen and (max-width: 900px) {
  img {
      width: 50%;
      height: 50%;
  }
}


@media screen and (max-width: 700px) {
  .App {
  padding: 1rem;    
  }
  .container{
    width: 90%;
  }

  button {
    margin: .1rem !important;
  }
}